@import "../../styles//index.module.scss";
.Navbar {
  height: 8rem;
  background-color: var(--nav-bg-color);
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(black, 0.2);
  position: relative;

  @media (max-width: 600px) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 2rem;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: var(--navbar-text-color);
    font-size: $fs-large;
    gap: 4rem;
    li {
      cursor: pointer;
      transition: all 0.7s;
      &:hover {
        transform: scale(1.1);
        color: var(--tertiary-text-color);
      }
    }
  }
  &--fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: rgba(white, 0.5);
  }
  &__phone {
    svg {
      font-size: $fs-extra;
    }
    ul {
      position: absolute;
      top: 120%;
      height: 45vh;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 20px 30px rgba(black, 0.2);
      padding: 2rem;
      display: flex;
      width: 80%;
      @media (max-width: 300px) {
        width: 90%;
        left: 5%;
      }
      left: 10%;
      flex-direction: column;
      justify-content: center;
      animation: phoneNavAnimation 1.5s ease-out;
      z-index: 10;
    }
  }
}

@keyframes phoneNavAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
