@import "../../../styles/index.module.scss";

.Projects {
  margin-inline: auto;
  width: min(95%, 1200px);
  margin-top: 8rem;
  &__content {
    margin-inline: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }
  &__title {
    text-align: center;
    font-size: $fs-huge;
    margin-bottom: 8rem;
    @media (max-width: 600px) {
      font-size: $fs-XXL;
    }
    span {
      display: block;
      font-size: $fs-large;
      margin-top: 4rem;
    }
  }
}
