@import "../../../styles/index.module.scss";

.Skills {
  &__content {
    margin-inline: auto;
    position: relative;
    width: 100%;
    margin-inline: auto;
    padding-bottom: 5rem;
  }
  &__skills {
    overflow-x: scroll;
    display: grid;
    grid-auto-flow: column;
    margin-inline: auto;
    grid-auto-columns: 33.3%;
    @media (max-width: 900px) {
      grid-auto-columns: 60%;
    }
    @media (max-width: 400px) {
      grid-auto-columns: 90%;
    }
    width: 100%;
    padding-bottom: 5rem;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__title {
    font-size: $fs-huge;
    text-align: center;
    margin: 8rem 0;
    color: var(--primary-text-color);
    span {
      display: block;
      font-size: $fs-medium;
      margin-top: 2rem;
    }
  }
  &__move {
    button {
      position: absolute;
      background-color: transparent;
      color: var(--secondary-text-color);
      font-size: 5.5rem;
      padding: 0.4rem 1rem;
      cursor: pointer;
      border: none;
      top: 50%;
      transition: all 0.7s;
    }
    &--right {
      right: 1%;
      &:hover {
        transform: translateX(20px);
      }
    }
    &--left {
      left: 1%;
      &:hover {
        transform: translateX(-20px);
      }
    }
  }
}
