@import "../../../utilits/utilitis.scss";

.Search {
  position: relative;
  padding-bottom: 5rem;
  scroll-behavior: "smooth";
  &__title {
    max-width: min(90%, 800px);
    margin-inline: auto;
    text-align: center;
    margin-bottom: 5rem;
  }
  &__content {
    margin: auto;
    width: min(90%, 1400px);
  }
  &__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: min(80%, 500px);
    margin-inline: auto;
    position: relative;
    input {
      font-size: $fs-medium;
      padding: 0.4rem 1.2rem;
      width: 100%;
      border-radius: 5px;
      outline: none;
      border: 1px solid $neutral-dark-blue;
    }
  }
  &__dropdown {
    display: grid;
    grid-auto-columns: auto;
    gap: 1rem;
    grid-auto-flow: column;
    overflow-x: scroll;
    margin-top: 4rem;
    scroll-behavior: smooth;
    @media (max-width: 600px) {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-flow: row;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    .active {
      background-color: var(--dropdown-active-color);
      color: $primary-red;
    }
  }
  &__scroll {
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: all 0.5s;
      outline: none;
      font-size: $fs-XL;
      color: red;
      top: 52%;
      position: absolute;
      &:hover {
        transform: scale(1.2);
      }
    }
    &__left {
      float: left;
      left: 1%;
    }
    &__right {
      float: right;
      right: 1%;
    }
  }
  &__changePage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 4rem;
    button {
      margin: 0 3rem;
      background-color: #11998e;
      border: none;
      padding: 0.6rem 2rem;
      color: white;
      transition: all 0.7s;
      cursor: pointer;
      &:hover {
        background-color: $primary-red;
      }
      @media (max-width: 600px) {
        width: 10rem;
      }
    }
    &__next {
      &:hover {
        transform: translateX(10px);
      }
    }
    &__previous {
      &:hover {
        transform: translateX(-10px);
      }
    }
  }
  &__error {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: $fs-large;
  }
}
