$fs-tiny: 0.85rem;
$fs-small: 1rem;
$fs-medium: 1.5rem;
$fs-large: 2rem;
$fs-extra: 2.75rem;
$fs-XL: 3.25rem;
$fs-XXL: 3.75rem;
$fs-huge: 4.5rem;

$primary-red: hsl(12, 88%, 59%);
$primary-blue: hsl(228, 39%, 23%);

$neutral-gray: hsl(227, 12%, 61%);
$neutral-dark-blue: hsl(233, 12%, 13%);
$neutral-pale-red: hsl(13, 100%, 96%);
$neutral-light-gray: hsl(0, 0%, 98%);

.header-primary {
  font-size: $fs-huge;
  color: var(--primary-text-color);
  letter-spacing: 4px;
  @media (max-width: 600px) {
    font-size: $fs-XXL;
  }
}
.header-secondary {
  font-size: $fs-large;
  color: var(--tertiary-text-color);
  letter-spacing: 2px;
  @media (max-width: 600px) {
    font-size: $fs-large;
  }
}

.button-primary {
  border: none;
  background-color: $primary-red;
  font-size: $fs-medium;
  padding: 0.6rem 2rem;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  transition: all 0.7s;
  &:hover {
    transform: scale(1.05) translateY(-7px);
    box-shadow: 0 10px 20px rgba(black, 0.2);
  }
}
